<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="\css\bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{path('home')}}">CacaBnB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{path('home')}}">Accueil
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a href="" class="nav-link">Mon compte</a></li>
              </ul>
            </div>
          </nav>

        {% block body %}{% endblock %}
        <script src="\js\jquery.min.js"></script>
        <script src="\js\bootstrap.min.js"></script>
        <script src="\js\popper.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
