{% extends 'base.html.twig' %}

{% block title %}Nos Annonces{% endblock %}

{% block body %}
<div class="container">
<h1 class="my-3">Voici les annonces de nos hôtes !</h1>
<div class="row">
    {% for ad in ads %}
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                {{ad.rooms}} chambres <strong>{{ad.price}}&euro; / nuit</strong> <br>
                <small>Pas encore noté</small>
            </div>
            <img src="{{ad.coverImage}}" alt="image de l'appartement" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4>{{ad.title}}</h4>
                <p class="card-text">
                    {{ad.introduction}}
                </p>
                <button class="btn btn-primary">En savoir plus</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
